@{
    ViewBag.title = "Inicio de sesi칩n";
}

<div class="row text-center">

    <div class="col-4" style="margin-top: 20px; margin-bottom: 20px;">
        <img src="/imagenes/logoColegio.png" width="50%" height="auto" alt="login">
    </div>
    <div class="col-7">
        <h1 class="text-center">@ViewBag.title</h1>
        <form method="POST">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label>Usuario:</label>
                <input class="form-control" required id="username" name="usuario" placeholder="Usuario">
            </div>
            <div class="form-group">
                <label>Contrase침a:</label>
                <input class="form-control" required type="password" id="pwd" name="password" placeholder="Contrase침a">
            </div>
            <div class="text-center mt-4">
                <input type="submit" class="btn btn-primary" value="    Iniciar Sesion    ">
                <input type="submit" class="btn btn-primary" value="    Recuperar Contrase침a   ">
            </div>
        </form> <br>
        <br>
        <div class="row text-center">
            <div class="col-4"><a href="#"><img src="/imagenes/facebook.png" alt="facebook" height="30px" width="30px"></a></div>
            <div class="col-4"><a href="#"><img src="/imagenes/instagram.png" alt="instagram" height="30px" width="30px"></a></div>
            <div class="col-4"><a href="#"><img src="/imagenes/google.png" alt="google" height="30px" width="30px"></a></div>
        </div>
    </div> 
</div>